<div class="head-title">
    <div class="container">
        <div class="row">
            <h2 class="page-title">Готовая продукция</h2>
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end head-title -->
<div id="main">
    <div class="container">
        <div class="row">
            <div class="content-area col-md-8" id="primary">
                <div class="site-content" id="content">
                    <div class="post format-standard hentry">
                        <header class="entry-header">
                            <div class="entry-format">
                                <div class="entry-meta">
                                    <div class="pull-left">
                                       <h3>Комоды из массива вишни</h3>
                                    </div><!-- end pull-left -->
                                    <div class="pull-right">

                                    </div><!-- end pull-right -->
                                </div><!-- end entry-meta -->
                            </div><!-- end entry-format -->
                            @*<h1 class="entry-title">Typi Non Habent Claritatem Insitam Est Usus Legentis in Qui Facit Eorum Claritatem</h1>*@
                        </header><!-- end entry-header -->
                        <div class="entry-content">
                            <p>Классический комод из массива сосны. Ящики на роликовых направляющих частичного выдвижения. Максимальная нагрузка на направляющие - 20 кг. Ручки в комплекте.</p>
                            <figure class="wp-caption">
                                <img src="~/images/Image00001.jpg" alt="">
                                <figcaption class="wp-caption-text">Образец из вишни</figcaption>
                            </figure>
                            <p>Квадро - означает четыре. И если речь идёт о мебели, логично предположить, что в ней будет 4 полки или 4 ящика, как в изделии, которое мы представляем вам в этой статье. Это комод из массива Квадро, выполненный из натурального дерева - сосны. Изделие это одновременно прочное и лёгкое, вместительное и компактное. Скажете: такого не бывает?</p>
                            @*<blockquote>Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.</blockquote>*@
                            <p>Квадро - означает четыре. И если речь идёт о мебели, логично предположить, что в ней будет 4 полки или 4 ящика, как в изделии, которое мы представляем вам в этой статье. Это комод из массива Квадро, выполненный из натурального дерева - сосны. Изделие это одновременно прочное и лёгкое, вместительное и компактное. Скажете: такого не бывает?</p>
                            <div style="float:right;">
                                <span class="pricing-btn">
                                    <a href="@Url.Action("Contact", "Home")" class="btn btn-md btn-default">Связаться с нами</a>
                                </span>
                            </div>
                        </div>
                    </div><!-- end hentry -->
                    <div class="post format-standard hentry">
                        <header class="entry-header">
                            <div class="entry-format">
                                <div class="entry-meta">
                                    <div class="pull-left">
                                        <h3>Шкаф в стиле начала ХХ века из массива вишни</h3>
                                    </div><!-- end pull-left -->
                                    <div class="pull-right">

                                    </div><!-- end pull-right -->
                                </div><!-- end entry-meta -->
                            </div><!-- end entry-format -->
                            @*<h1 class="entry-title">Typi Non Habent Claritatem Insitam Est Usus Legentis in Qui Facit Eorum Claritatem</h1>*@
                        </header><!-- end entry-header -->
                        <div class="entry-content">
                            <p>Классический комод из массива сосны. Ящики на роликовых направляющих частичного выдвижения. Максимальная нагрузка на направляющие - 20 кг. Ручки в комплекте.</p>
                            <figure class="wp-caption">
                                <img src="~/images/Image00003.jpg" alt="">
                                <figcaption class="wp-caption-text">Образец из вишни</figcaption>
                            </figure>
                            <p>Квадро - означает четыре. И если речь идёт о мебели, логично предположить, что в ней будет 4 полки или 4 ящика, как в изделии, которое мы представляем вам в этой статье. Это комод из массива Квадро, выполненный из натурального дерева - сосны. Изделие это одновременно прочное и лёгкое, вместительное и компактное. Скажете: такого не бывает?</p>
                            @*<blockquote>Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.</blockquote>*@
                            <p>Квадро - означает четыре. И если речь идёт о мебели, логично предположить, что в ней будет 4 полки или 4 ящика, как в изделии, которое мы представляем вам в этой статье. Это комод из массива Квадро, выполненный из натурального дерева - сосны. Изделие это одновременно прочное и лёгкое, вместительное и компактное. Скажете: такого не бывает?</p>
                            <div style="float:right;">
                                <span class="pricing-btn">
                                    <a href="@Url.Action("Contact", "Home")" class="btn btn-md btn-default">Связаться с нами</a>
                                </span>
                            </div>
                        </div>
                    </div><!-- end hentry -->
                </div><!-- end site-content -->
            </div><!-- end content-area -->
            <aside id="secondary" class="col-md-4">
                <div class="sidebar">
                    @Html.Partial("WorkExamples")
                    @Html.Partial("FacebookWidget")
                    @Html.Partial("VKWidget")
                </div><!-- end sidebar -->
            </aside><!-- end secondary -->
        </div><!-- end row -->
    </div>
</div><!-- end main -->