<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="Robots" content="ALL">
        <meta name="description" content="Столярная мастерская Ярусс. Создание эсклюзивной мебели из массива дерева, оформление интерьеров и экстерьеров, реставрация">
        <meta name="keywords" content="столярная мастерская, столярная мастерская томск, мебель из дерева, мебель из массива, эксклюзивная мебель">
        <title>Ярусс - столярная мастерская</title>
        
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

        <environment names="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
            <link rel="stylesheet" href="~/css/photoswipe.css" />
            <link rel="stylesheet" href="~/css/default-skin.css" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>
        @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
        <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-54745246-2', 'auto');
        ga('send', 'pageview');

        </script>
    </head>
    <body>
        <div id="page" class="hfeed site">
            @Html.Partial("Header")
            @RenderBody()
            @Html.Partial("Footer")
        </div><!-- end #page hfeed site -->
            <environment names="Development">
                <script src="~/lib/jquery/dist/jquery.js"></script>
                <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
                <script src="~/js/site.js" asp-append-version="true"></script>
                <script src="~/js/plugin.js" asp-append-version="true"></script>
                <script src="~/js/main.js" asp-append-version="true"></script>
                <script src="~/js/photoswipe.min.js" asp-append-version="true"></script>
                <script src="~/js/photoswipe-ui-default.min.js" asp-append-version="true"></script>

                @*<script src="~/js/photoswipe.min.js" asp-append-version="true"></script>
                <script src="~/js/photoswipe-ui-default.min.js" asp-append-version="true"></script>*@
            </environment>
            <environment names="Staging,Production">
                <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                        asp-fallback-test="window.jQuery">
                </script>
                <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                        asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                        asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
                </script>
                <script src="~/js/site.min.js" asp-append-version="true"></script>
            </environment>
            <script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function () { try { w.yaCounter29154470 = new Ya.Metrika({ id: 29154470, clickmap: true, trackLinks: true, accurateTrackBounce: true }); } catch (e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/29154470" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
            @RenderSection("scripts", required: false)
        <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

            <!-- Background of PhotoSwipe.
             It's a separate element as animating opacity is faster than rgba(). -->
            <div class="pswp__bg"></div>

            <!-- Slides wrapper with overflow:hidden. -->
            <div class="pswp__scroll-wrap">

                <!-- Container that holds slides.
                PhotoSwipe keeps only 3 of them in the DOM to save memory.
                Don't modify these 3 pswp__item elements, data is added later on. -->
                <div class="pswp__container">
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                </div>

                <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                <div class="pswp__ui pswp__ui--hidden">

                    <div class="pswp__top-bar">

                        <!--  Controls are self-explanatory. Order can be changed. -->

                        <div class="pswp__counter"></div>

                        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                        <button class="pswp__button pswp__button--share" title="Share"></button>

                        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                        <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                        <!-- element will get class pswp__preloader--active when preloader is running -->
                        <div class="pswp__preloader">
                            <div class="pswp__preloader__icn">
                                <div class="pswp__preloader__cut">
                                    <div class="pswp__preloader__donut"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                        <div class="pswp__share-tooltip"></div>
                    </div>

                    <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>

                    <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

                    <div class="pswp__caption">
                        <div class="pswp__caption__center"></div>
                    </div>

                </div>

            </div>

        </div>

        <script>
            var pswpElement = document.querySelectorAll('.pswp')[0];

            // build items array
            //var items = [
            //    {
            //        src: 'images/Image00001.jpg',
            //        w: 2664/2,
            //        h: 1940/2
            //    },
            //    {
            //        src: 'images/folio5.jpg',
            //        w: 1200,
            //        h: 900
            //    },
            //    {
            //        src: 'images/folio4.jpg',
            //        w: 1200,
            //        h: 900
            //    }
            //];

            // define options (if needed)
            var options = {
                // optionName: 'option value'
                // for example:
                index: 1 // start at first slide
            };

            var itemGroups = [
                // 0 - gazprom
                [
                    { src: 'images/gazprom/Image00003.jpg', w: 3000, h: 2000 },
                    { src: 'images/gazprom/Image00002.jpg', w: 3000, h: 2000 },
                    { src: 'images/gazprom/Image00004.jpg', w: 2000, h: 3000 },
                    { src: 'images/gazprom/Image00001.jpg', w: 3000, h: 2000 }
                ],
                // 1 - gazprom-hall
                [
                    { src: 'images/gazprom-hall/Image00002.jpg', w: 2273, h: 1530 },
                    { src: 'images/gazprom-hall/Image00001.jpg', w: 1818, h: 2781 },
                    { src: 'images/gazprom-hall/Image00003.jpg', w: 2894, h: 1883 },
                    { src: 'images/gazprom-hall/Image00004.jpg', w: 2810, h: 2000 }
                ],
                // 2 - tib
                [
                    { src: 'images/tib/Image00003.jpg', w: 2106, h: 1400 },
                    { src: 'images/tib/Image00001.jpg', w: 1984, h: 1353 },
                    { src: 'images/tib/Image00002.jpg', w: 1259, h: 1852 }
                ],
                // 3 - private-home3
                [
                    { src: 'images/private-home3/Image00006.jpg', w: 3225, h: 2419 },
                    { src: 'images/private-home3/Image00005.jpg', w: 2889, h: 2167 },
                    { src: 'images/private-home3/Image00001.jpg', w: 3225, h: 2419 },
                    { src: 'images/private-home3/Image00003.jpg', w: 2889, h: 2167 },
                    { src: 'images/private-home3/Image00004.jpg', w: 2889, h: 2167 },
                    { src: 'images/private-home3/Image00007.jpg', w: 2167, h: 2889 }
                ],
                // 4 - bed
                [
                    { src: 'images/bed/1.jpg', w: 3008, h: 2000 }
                ],
                // 5 - cupboard
                [
                    { src: 'images/cupboard/1.jpg', w: 2226, h: 1967 }
                ],
                // 6 - doors
                [
                    { src: 'images/doors/Image00001.jpg', w: 862, h: 1285 },
                    { src: 'images/doors/Image00002.jpg', w: 1037, h: 1549 },
                    { src: 'images/doors/Image00003.jpg', w: 942, h: 1406 },
                    { src: 'images/doors/Image00004.jpg', w: 1037, h: 1549 },
                    { src: 'images/doors/Image00005.jpg', w: 844, h: 1126 },
                    { src: 'images/doors/Image00006.jpg', w: 1922, h: 2966 }
                ],
                // 7 - furniture
                [
                    { src: 'images/furniture/Image00001.jpg', w: 2664, h: 1940 },
                    { src: 'images/furniture/Image00003.jpg', w: 2000, h: 3000 }
                ],
                // 8 - hotel1
                [
                    { src: 'images/hotel1/Image00011.jpg', w: 1080, h: 762 },
                    { src: 'images/hotel1/Image00008.jpg', w: 844, h: 1126 },
                    { src: 'images/hotel1/Image00009.jpg', w: 844, h: 1126 },
                    { src: 'images/hotel1/Image00010.jpg', w: 982, h: 734 },
                    { src: 'images/hotel1/Image00015.jpg', w: 782, h: 1079 }
                ],
                // 9 - hotel2
                [
                    { src: 'images/hotel2/Image00014.jpg', w: 1018, h: 821 },
                    { src: 'images/hotel2/Image00012.jpg', w: 844, h: 1126 },
                    { src: 'images/hotel2/Image00013.jpg', w: 1086, h: 844 }
                ],
                // 10 - private-home
                [
                    { src: 'images/private-home/1.jpg', w: 3008, h: 2000 },
                    { src: 'images/private-home/2.jpg', w: 3008, h: 2000 },
                    { src: 'images/private-home/3.jpg', w: 3008, h: 2000 },
                    { src: 'images/private-home/4.jpg', w: 3008, h: 2000 },
                    { src: 'images/private-home/5.jpg', w: 2790, h: 1888 }
                ],
                // 11 - private-home2
                [
                    { src: 'images/private-home2/1.jpg', w: 1843, h: 1397 },
                    { src: 'images/private-home2/2.jpg', w: 2000, h: 3008 },
                ],
            ];

            $(document).ready(function () {
                var images = $('#foliowrap figure').click(function () {
                    var index = $(this).attr('img-group');

                    var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, itemGroups[index], options);
                    gallery.options.arrowKeys = true;
                    gallery.options.index = 0;
                    gallery.init();
                });
            });
        </script>
</body>
</html>
